
.container{
    width: 400px;
    height: 500px;
    margin: auto;
}
.section{
    padding: 15px;
    background-color: gray;
}
.btn{
    background-color: lightseagreen;
}
.score{
    float: right;
}
.circle{
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
}
.gamespace{
    background-color:yellow;
    width: 400px;
    height: 500px;
}